.bg-1{
    background-image: url("../Images/BG_01.webp");
    background-size: cover;
    
}

.bg-2{
    background-image: url("../Images/BG_02.webp");
    background-size: cover;
}


.personal-color{
    color: #008C8C ;
}

.px-10{
    padding: 0 10%;
}

.py-15{
    padding: 20% 0;
}

.personal-fs{
    font-size: 3.5rem;
}

.personal-fs-h2{
    font-size: 3rem;
}

.border-color{
    border-color: #008C8C !important;
}

h1, h2, h3,h4, a{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

/*
============================
            font
============================
*/

@font-face {
    font-family: "K2D-Bold";
    src: url('../Police/K2D/K2D-Bold.ttf');
}
@font-face {
    font-family: "K2D-ExtraBold";
    src: url('../Police/K2D/K2D-ExtraBold.ttf');
}

*{
    font-family: "K2D-Bold", sans-serif;
}

h1, 
h2, 
h3,
h4 {
    font-family: "K2D-ExtraBold", Arial, sans-serif;
}

@media (max-width: 575.98px) {
    .personal-fs{
        font-size: 1.8rem;
    }
    
    .personal-fs-h2{
        font-size: 2rem;
    }
    article img {
        width: 40% !important;
    }
 }

 @media (min-width: 1399.98px) {
    .personal-fs{
        font-size: 6rem;
    }
}
